@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    margin:0;
    height:100vh;
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    font-family:'Poppins',sans-serif;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
}

h1{
    margin:15px;
    font-size:38px;
}

.choices{
    margin-top:10px;
}

.choices span{
    font-size:60px;
    margin:0 25px;
    cursor:pointer;
    transition:0.3s;
}
.choices span:hover{ transform:scale(1.3); }

.game-area{
    width:100%;
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.panel{
    width:40%;
    background:rgba(255,255,255,0.12);
    border-radius:20px;
    padding:30px;
    text-align:center;
}

.panel h2{
    font-size:28px;
}

.emoji{
    font-size:70px;
    margin:20px 0;
}

.result{
    margin-top:25px;
    font-size:32px;
    color:#00ffd5;
}

.total-score{
    margin: top 50px;
    font-size:24px;
}